.collapsed {
    max-height: 0;
    overflow: hidden;
  }

body{
    background-color: #e5e5e5;
    
}
h1 { 
    color:#e5e5e5;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    

}

.header {
    padding: 60px;
    background-color: #14213d;
}

 .cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
}


/* .wanted-divs {
    border: 3px solid black;
    outline-color: black;
    width: 25%;
    height: 450px;
    display: block;
    display: inline-block;
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
} */

.wanted-divs h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.missing-divs, .wanted-divs {
    border: 3px solid black;
    outline-color: black;
    width: 25%;
    height: 525px;
    display: block;
    display: inline-block;
    overflow: hidden;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 30px;

}

.missing-divs h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


img {
    padding-left: 15%;
    width: 70%;
    height: 350px;
}

#search-bar input[type=text] {
   margin-bottom: 15px;
   width: 202px;
   border: solid;
   
}

.hide {
    display:none;
}

.show {
    display: block;
}

.detail-view{
    height: 600px;
    z-index: 20;
}   