h1 { 
    color:red;
    text-align: center;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 

}

.wanted-divs {
    border: 3px solid black;
    outline-color: black;
    width: 25%;
    height: 25%;
}

img {
    width: 25%;
}

#search-bar input[type=text] {
   margin-bottom: 15px;
   width: 202px;
   border: solid;
   
}