h1 { 
    color:red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    padding: 60px;
    background-color: rgb(91, 34, 236);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 

}

.wanted-divs {
    border: 3px solid black;
    outline-color: black;
    width: 25%;
    height: 25%;
    display: block;
}

.wanted-divs h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.missing-divs {
    border: 3px solid black;
    outline-color: black;
    width: 25%;
    height: 25%;
    display: none;
}

.missing-divs h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


img {
    padding-left: 7.5%;
    width: 85%;
}

#search-bar input[type=text] {
   margin-bottom: 15px;
   width: 202px;
   border: solid;
   
}
